<div class="container">

<table class="table table-striped">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Operations</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.gender}}</td>
      <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
      <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>
    </tr>
  </tbody>
</table>
  <button class="btn btn-primary" (click)="newUser()">New Student</button>
  <button style="margin-left:2%" class="btn btn-success" (click)="navigateHome()">Home</button>
</div>