<h1 style="text-align:center;margin-top:10%;">Welcome to Data Centre!</h1>
<h2 style="text-align:center;">Select any database.</h2>
<button class="btn btn-primary" style="text-align:left;margin-top:20%;margin-left:8%;" (click)="navigateStudent()">Students Database</button>
<button class="btn btn-primary" style="text-align:center;margin-top:20%;margin-left:20%;" (click)="navigateSong()">Songs Database</button>
<button class="btn btn-primary" style="text-align:right;margin-top:20%;margin-left:20%;" (click)="navigateCourse()">Courses Database</button>
